extends layouts/main
include mixins/videoPlayer

block content
  .video-detail__container
    +videoPlayer({
      src: `/${video.fileUrl}`
    })
    .video__info
      if loggedInUser && video.creator.id === loggedInUser.id
        a(href=routes.editVideo(video.id))
          button Edit video
      h5.video__title=video.title
      p.video__description=video.description
      if video.view === 0
        span.video__view 0 view
      else if video.view === 1
        span.video__view 1 view
      else
        span.video__view #{video.view} views
      .video__author
        |Created By 
        a(href=routes.userDetail(video.creator.id))=video.creator.name
    .video__comments
      if video.comments.length === 0
        span.video__comments--number 
          span#jsCommentNum 0 
          |  comment
      else if video.comments.length === 1
        span.video__comments--number 
          span#jsCommentNum 1 
          |  comment
      else
        span.video__comments--number
          span#jsCommentNum #{video.comments.length}
          |  comments
      form.add__comment#jsAddComment
        input(type="text", placeholder="add comment")
      ul.video__comments--list#jsCommentList
        each comment in video.comments.reverse()
          if loggedInUser && video.creator.id === loggedInUser.id
            li
              span=comment.text
              button.deleteBtn
                i.fas.fa-trash-alt
          else
            li
              span=comment.text